<div class="masthead">
        <h3 class="muted">Fundacja Lighthouse</h3>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li class="active"><a href="#">News</a></li>
                <li><a href="#">Galeria</a></li>
                <li><a href="#">Kontakt</a></li>
                <li><a href="#">O nas</a></li>
                <li><a href="#">Projekty</a></li>
                <li><a href="#">Rak wspak</a></li>
              </ul>
            </div>
          </div>
        </div><!-- /.navbar -->
</div>